<style>
.authorityLawsBox p a, .authorityLawsBox h2 a {
	color: #b22328!important;
}
</style>

<div class="lawPagesMain">

<section class="lawBoxesSection">

	<div class="container lawsBox">
		<div class="lawTitleBox border-right" data-group="group-1">
			<h2 class="lawTitle "><%= link_to 'DATA PROTECTION (JERSEY) LAW 2018', '/dp_laws' %></h2>
			<p><%= link_to 'A LAW to make new and consolidated provision relating to the protection of natural persons with regard to the processing and free movement of personal data and for connected purposes.', '/dp_laws' %></p>
		</div>

		<div class="lawTitleBox authorityLawsBox border-right" data-group="group-2">
			<h2 class="lawTitle "><%= link_to 'DATA PROTECTION AUTHORITY (JERSEY) LAW 2018', '/authority_dp' %></h2>
			<p><%= link_to 'A LAW to provide for a new statutory body to oversee the protection of personal data and for connected purposes.', '/authority_dp' %></p>
			<h2 class="lawTitle"></h2>
			<p></p>
		</div>

		<div class="lawTitleBox" data-group="group-3">
			<h2 class="lawTitle"><%= link_to 'DATA PROTECTION (REGISTRATION AND CHARGES) (JERSEY) REGULATIONS 2018', '/regulations_dp' %></h2>
			<p></p>
		</div>
	</div>

</section>

<section class="mainLaw container">

	<section class="lawsIndexSection">

		<div class="lawsIndexBox js-flickity">

			<% @articles.each do |article|  %>
					<div class="lawSelection" data-article="article-<%= article.id %>">

            <p><strong> <%= article.number %><%= article.letter %> <%= article.title %> </strong></p>
            <p><%= article.category.title.titleize %>  </p>
				</div>
			<% end %>

		</div>

	</section>

	<section class="lawContentSection">

		<div class="welcomeSection">

			<h1>Data Protection Authority (Jersey) Law 2018 (DPAJL)</h1>

			<p>The DPAJL also came into effect on 25th May 2018 and creates a new statutory body responsible for overseeing the protection of personal information of natural persons. This body is known in Law as the Data Protection Authority and is chaired by Mr Jacob Kohnstamm. The Authority oversees the activities of the OIC, which is headed up by the Information Commissioner, Mr Jay Fedorak, and the Deputy Information Commissioner, Mr Paul Vane.</p>

			<p>The DPAJL also sets out the powers, enforcement capabilities and statutory functions of the Data Protection Authority and OIC. Furthermore, it sets out the framework for the registration of controllers and processors and the associated fees.</p>

			<p>Please select a law on the left hand side, our guidance notes will be provided below each law article</p>

    </div>

		<% @articles.each do |article|  %>
		<div class="articleSection articleSectionHide notActive" data-article="article-<%= article.id %>">
			<h1><%= article.category.group.title %></h1>
			<h1><%= article.category.title %></h1>
			<h2><%= article.number %><%= article.letter %>. <%= article.title %></h2>
			<div class="articleContent">
				<%= sanitize article.content %>
			</div>
		</div>

		<div class="lawLinkedContent articleSectionHide notActive" data-article="article-<%= article.id %>">
     <p class="lawLinkedNote">Click on the below headings to view info on GDPR and our guidance notes related to this article or schedule.</p>
			<table cellspacing="0">
				<tr>
					<th class="gdprArticle selectedNoteHeader">GDPR Article</th>
					<th class="gdprRecital">GDPR Recital</th>
					<th class="guidanceNote">Guidance Notes</th>
				</tr>

        <%= render 'associated', article: article %>

			</table>

		</div>
		<% end %>

	</section>

</section>


</div>
