<style>
.regulationsLawsBox p a, .regulationsLawsBox h2 a {
	color: #b22328!important;
}
</style>
<div class="lawPagesMain">

<section class="lawBoxesSection">

	<div class="container lawsBox">
		<div class="lawTitleBox border-right" data-group="group-1">
			<h2 class="lawTitle "><%= link_to 'DATA PROTECTION (JERSEY) LAW 2018', '/dp_laws' %></h2>
			<p><%= link_to 'A LAW to make new and consolidated provision relating to the protection of natural persons with regard to the processing and free movement of personal data and for connected purposes.', '/dp_laws' %></p>
		</div>

		<div class="lawTitleBox border-right" data-group="group-2">
			<h2 class="lawTitle "><%= link_to 'DATA PROTECTION AUTHORITY (JERSEY) LAW 2018', '/authority_dp' %></h2>
			<p><%= link_to 'A LAW to provide for a new statutory body to oversee the protection of personal data and for connected purposes.', '/authority_dp' %></p>
			<h2 class="lawTitle"></h2>
			<p></p>
		</div>

		<div class="lawTitleBox regulationsLawsBox" data-group="group-3">
			<h2 class="lawTitle"><%= link_to 'DATA PROTECTION (REGISTRATION AND CHARGES) (JERSEY) REGULATIONS 2018', '/regulations_dp' %></h2>
			<p></p>
		</div>
	</div>

</section>

<section class="mainLaw container">

	<section class="lawsIndexSection">

		<div class="lawsIndexBox js-flickity">

			<% @articles.each do |article|  %>
					<div class="lawSelection" data-article="article-<%= article.id %>">

					<p><strong> <%= article.number %><%= article.letter %> <%= article.title %> </strong> <br> <%= article.category.title %>  </p>
				</div>
			<% end %>

		</div>

	</section>

	<section class="lawContentSection">

		<div class="welcomeSection">

			<h1>Data Protection (Registration and Charges)(Jersey) Regulations 2018</h1>

			<p>These Regulations are created from Articles 18 and 46 of the DPAJL and set out the registration requirements for controllers and processers, as well as the fees associated with registration. The intention is to replace these Regulations in early 2019 once the Data Protection Authority establishes a new model of registration.</p>

			<p>Please select a law on the left hand side, our guidance notes will be provided below each law article</p>

    </div>

		<% @articles.each do |article|  %>
		<div class="articleSection articleSectionHide notActive" data-article="article-<%= article.id %>">
			<h1><%= article.category.group.title %></h1>
			<h1><%= article.category.title %></h1>
			<h2><%= article.number %><%= article.letter %>. <%= article.title %></h2>
			<div class="articleContent">
				<%= sanitize article.content %>
			</div>
		</div>

		<div class="lawLinkedContent articleSectionHide notActive" data-article="article-<%= article.id %>">
	    <p class="lawLinkedNote">Click on the below headings to view info on GDPR and our guidance notes related to this article or schedule.</p>
			<table cellspacing="0">
				<tr>
					<th class="gdprArticle selectedNoteHeader">GDPR Article</th>
					<th class="gdprRecital">GDPR Recital</th>
					<th class="guidanceNote">Guidance Notes</th>
				</tr>

				<tr class="gdprArticleText">
					<td colspan="3">
            <h4>GDPR Article</h4>
						<% article.articles.where(category_id: Category.find_by(title: 'Articles')&.id).each do |article|%>
							<%= sanitize article.content %>
						<% end%>

        	</td>
				</tr>
				<tr class="gdprRecitalText">
					<td colspan="3">
						<h4>GDPR Recital</h4>
						<% article.articles.where(category_id: Category.find_by(title: 'Recitals')&.id).each do |article|%>
							<%= sanitize article.content %>
						<% end%>

        	</td>
				</tr>
				<tr class="guidanceNoteText">
					<td colspan="3">
            <h4>Guidance Note</h4>
						<% article.articles.where(category_id: Category.find_by(title: 'Displayables')&.id).each do |article|%>
							<%= sanitize article.content %>
						<% end%>

        	</td>
				</tr>
			</table>

		</div>
		<% end %>

	</section>

</section>


</div>
