<div class="lawPagesMain">

  <h2> Search Results </h2>

	 <section class="mainLaw container">
		 <section class="lawsIndexSection">

			<div class="lawsIndexBox js-flickity">
        <% @objects.each do |group| %>
          <% if group.categories.present? && group.categories.any? { |category| category.articles.present? } %>
            <div style="padding: 15px 15px 0;">
             <p><%= group.title %></p>
            </div>
          <% end %>
            <% group.categories.each do |category| %>
              <% category.articles.each do |article| %>
                <% if category.articles.empty? %>
                <% else %>

                  <div class="lawSelection" data-article="article-<%= article.id %>">
                    <p><%= article.number %><%= article.letter %>. <%= article.title %></p>
                  </div>

                <% end %>
            <% end %>
          <% end %>
        <% end %>
			</div>
		</section>


		<section class="lawContentSection">

			<div class="welcomeSection">

				<h1>Welcome</h1>

				<p>Please select a law on the left hand side, our guidance notes will be provided below each law article</p>

			</div>

			<% @articles.each do |article|  %>
        <div class="articleSection articleSectionHide notActive" data-article="article-<%= article.id %>">
          <h1><%= article.category.group.title %></h1>
          <% if article.category.group.title === 'Guidance Notes' %>
          <% else %>
          <h1><%= article.category.title %></h1>
          <% end %>
          <h2><%= article.number %><%= article.letter %>. <%= article.title %></h2>
          <div class="articleContent">
            <%= sanitize article.content %>
          </div>
        </div>

      <% if article.category.group.title === 'Guidance Notes' %>
      <%else%>

      <div class="lawLinkedContent articleSectionHide notActive" data-article="article-<%= article.id %>">
				<table cellspacing="0">
				  <tr>
				    <th class="gdprArticle">GDPR Article</th>
				    <th class="gdprRecital">GDPR Recital</th>
				    <th class="guidanceNote">Guidance Notes</th>
				  </tr>

          <%= render 'associated', article: article %>

				</table>

			</div>
			<% end %>
      <% end %>

		</section>

	</section>


</div>
