
<p id="notice"><%= notice %></p>

<div class="flex-container">
  <div>
        <h1>Articles</h1>

        <table class="indexTable">
          <thead>
            <tr>
              <th>No</th>
              <th>Letter</th>
              <!-- <th>ID</th> -->
              <th class="thPublished">Published</th>
              <th class="thTitle">Title</th>
              <th class="thContent">Content</th>

              <!-- <th>Views</th> -->
              <th class="thCategory">Category</th>
              <th class="thGroup">Group</th>

              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @articles.each do |article| %>
              <tr class="rowAlternateColor">
                <td><%= article.number %></td>
                <td><%= article.letter %></td>
                <!-- <td><%= article.id %></td> -->
                <% if article.published %>
                  <td> published </td>
                <% else %>
                  <td> Unpublished </td>
                <% end %>
                <td><%= article.title %></td>
                <td><%= article.content.truncate(17) %></td>

                <!-- <td><%= article.views %></td> -->
                <td><%= article.category.title %></td>
                <td><%= article.category.group.title %></td>

                <td class="showEditDestroyColumns"><%= link_to 'Show', admin_article_path(article) %></td>
                <td class="showEditDestroyColumns"><%= link_to 'Edit', edit_admin_article_path(article) %></td>
                <td class="showEditDestroyColumns"><%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Article', new_admin_article_path %> <br>

        <%= link_to "New Article with params", new_admin_article_path(:form_law => "jersey", :form_type => "guidance") %> <br>

        <%= link_to "New Article with params", new_admin_article_path(:form_law => "jersey", :form_type => "guidance") %> <br>
        

    </div>
</div>
