<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @article.category.group.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.title %>
</p>

<p>
  <strong>Published:</strong>
  <% if @article.published %>
    published
  <% else %>
    Unpublished
  <% end %>
</p>

<p>
  <strong>Number:</strong>
  <%= @article.number %>
</p>

<p>
  <strong>Letter:</strong>
  <%= @article.letter %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Number:</strong>
  <%= @article.number %>
</p>

<p>
  <strong>Views:</strong>
  <%= @article.views %>
</p>

<p>
  <strong>GDPR Equivalent </strong><br>
  <% @article.articles.each do |gdpr| %>
      <% if gdpr.article_type == 'article' %>
          <%= gdpr.title %> <br>
          <%= gdpr.content %> <br>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Recital </strong><br>
  <% @article.articles.each do |recital| %>
      <% if recital.article_type == 'recital' %>
          <%= recital.title %> <br>
          <%= recital.content %> <br>
      <% end %>
  <% end %>
</p>



<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
