<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
	
	<div>
		<%= f.label :"First Name" %>
		<%= f.text_field :first_name %>
	</div>

	<div>
		<%= f.label :Surname %>
		<%= f.text_field :last_name %>
	</div>

	<div>
		<%= f.label :"Job Title" %>
		<%= f.text_field :job_title %>
	</div>

	<div>
		<% if current_user.manager? %>
			<%= f.label :Manager? %>
			<%= f.check_box :manager %>
		<% end %>
	</div>

	<div>
		<% resource.class.invite_key_fields.each do |field| -%>
			<p><%= f.label field %><br />
			<%= f.text_field field %></p>
		<% end -%>
	</div>

  	<p><%= f.submit t("devise.invitations.new.submit_button") %></p>

<% end %>
