<!DOCTYPE html>
<html>
  <head>
    <title>Jersey ICO<%= " | " + yield(:title) if content_for?(:title) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <% unless current_page?(root_path) %>
      <%= stylesheet_link_tag    'frontend#frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag    'index#index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>


    <%= javascript_include_tag 'frontend', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script>
      if (screen && screen.width < 500) {
        document.write('<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"><\/script>');
      }
    </script>

  </head>
  <body>
    <nav class="mainNav">
      <% unless current_page?(root_path) %>
        <%= link_to(image_tag("frontend/JSY_transparent_white.png", class: "logo"), root_path ) %>
      <% else %>
        <%= link_to(image_tag("frontend/JSY_transparent.png", class: "logo"), root_path ) %>
      <% end %>
      <ul class="linksContainer">
        <li><%= link_to 'LAWS', '/dp_laws' %></li>
        <li><%= link_to 'ABOUT', root_path(anchor: 'about_link') %></li>
        <li><%= link_to 'CONTACT', root_path(anchor: 'contact_link') %></li>
      </ul>


        <%= form_tag(search_all_path, :method => "get", id: "search-form", class: "searchForm")  do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search all articles" , class: "searchField"  %>
          <%= submit_tag "Search", :name => nil, class: "searchButton" %>
        <% end %>

        <% unless current_page?(root_path) %>
          <%= image_tag("frontend/bars.svg", class: "hamburger") %>
        <% else %>
          <%= image_tag("frontend/bars_red.svg", class: "hamburger") %>
        <% end %>

    </nav>

    <nav class="mobileNav">

      <ul class="linksContainerMobile">
        <li><%= link_to 'DATA PROTECTION (JERSEY) LAW 2018', '/dp_laws' %></li>
        <li><%= link_to 'DATA PROTECTION AUTHORITY (JERSEY) LAW 2018', '/authority_dp' %></li>
        <li><%= link_to 'DATA PROTECTION (REGISTRATION AND CHARGES) (JERSEY) REGULATIONS 2018', '/regulations_dp' %></li>
      </ul>

    </nav>

    <%= yield %>
    <footer>
      <p><%= link_to 'Privacy Notice', home_terms_cond_path %> | Jersey ICO Copyright <%= Time.current.year %></p>
    </footer>

<!--add a sign out alert  -->

    <% if flash[:alert] || flash[:notice] || flash[:error] || flash[:success] %>
      <div class="container">
        <div class="row">
          <% if flash[:error] %>
            <div class="col-md-10 mx-auto mt-3">
              <div class="oaerror danger alert text-center">
                    <strong>Error  </strong><%= flash[:error] %></div>
            </div>
          <% end %>

          <% if flash[:alert] %>
            <div class="col-md-10 mx-auto mt-3">
              <div class="oaerror warning alert text-center">
                    <strong>Warning  </strong><%= flash[:alert] %></div>
            </div>
          <% end %>

          <% if flash[:notice] %>
            <div class="col-md-10 mx-auto mt-3">
              <div class="oaerror info alert text-center">
                    <strong>Note  </strong><%= flash[:notice] %></div>
            </div>
          <% end %>

          <% if flash[:success] %>
            <div class="col-md-10 mx-auto mt-3">
              <div class="oaerror success alert text-center">
                    <strong>Success  </strong><%= flash[:success] %></div>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </body>
</html>
