<div class="showArea">

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong class="showHeading">Title:</strong>
  <%= @group.title %>
</p>

<p>
  <strong class="showHeading">Description:</strong>
  <%= @group.description %>
</p>

<%= link_to 'Edit', edit_admin_group_path(@group) %> |
<%= link_to 'Back', admin_groups_path %>

</div>
