<!---- this is the CMS application ----->

<!DOCTYPE html>
<html>
  <head>
    <title>Dataprotection Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>


  <body class="removeMargin">
    
    <div class="wrapper">

  <header class="topBar">

    <ul class="flex-container space-between removeMargin ">

      <li class="websiteName removeMargin">Website Name</li>

      <li class="websiteUser removeMargin">
        <% if user_signed_in? %>
        Hello, <%= current_user.email %> - <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
      <% else %>
        You are not signed in
      <% end %></li>

    </ul>
    
  </header>

  <div class="stretch">

    <nav class="leftNav">

      <h1>Logo</h1>

      <ul>
        <li><%= link_to 'Law Groups', admin_groups_path %></li>
        <li><%= link_to 'Categories', admin_categories_path %></li>
        <li><%= link_to 'Articles', admin_articles_path %></li>
          <ul class="subCategoryCreate">
            <li><%= link_to 'Create Jersey Law', new_admin_article_path %></li>
            <li><%= link_to 'Create Authority Law', new_admin_article_path %></li>
            <li><%= link_to 'Create Regulations Law', new_admin_article_path %></li>
          </ul>
        <li>GDPR Articles</li>
          <ul class="subCategoryCreate">
            <li><%= link_to 'Create GDPR Article', new_admin_article_path %></li>
          </ul>
        <li>GDPR Recitals</li>
          <ul class="subCategoryCreate">
            <li><%= link_to 'Create GDPR Recital', new_admin_article_path %></li>
          </ul>
        <li>Guidance Notes</li>
          <ul class="subCategoryCreate">
            <li><%= link_to 'Create Guidance Note', new_admin_article_path(:form_law => "jersey", :form_type => "guidance") %></li>
          </ul>
        <li><%= link_to 'Users', admin_users_path %></li>
      </ul>
      
    </nav>

    <main>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
      
    </main>

    <footer>
      
    </footer>
  </div>
</div>
    
  </body>
</html>