<!---- this is the CMS application ----->

<!DOCTYPE html>
<html>
  <head>
    <title>Dataprotection Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">


  </head>

  <body class="removeMargin">

    <div class="wrapper">

  <header class="topBar">

    <ul class="flex-container space-between removeMargin ">

      <li class="websiteName removeMargin">Website Name</li>

      <li class="websiteUser removeMargin">
        <% if user_signed_in? %>
        Hello, <%= current_user.email %> - <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
      <% else %>
        You are not signed in
      <% end %></li>

    </ul>

  </header>

  <div class="stretch">

    <nav class="leftNav">

      <h1>Logo</h1>

      <ul>
        <li><%= link_to 'Law Groups', admin_groups_path %></li>
        <li><%= link_to 'Categories', admin_categories_path %></li>
        <li><%= link_to 'Jersey Laws', admin_articles_path %></li>
          <ul class="subCategoryCreate">
            <li><%= link_to 'Data Protection Article', new_admin_article_path(:law => "jersey-data-protection", :type => "article") %></li>
            <li><%= link_to 'Authority Article', new_admin_article_path(:law => "jersey-authority", :type => "article") %></li>
            <li><%= link_to 'Registration Article', new_admin_article_path(:law => "jersey-registration", :type => "article") %></li>
          </ul>

        <li>GDPR</li>
          <ul class="subCategoryCreate">
            <li><%= link_to 'Create GDPR Article', new_admin_article_path(:law => "gdpr-article", :type => "article") %></li>
            <li><%= link_to 'Create GDPR Recital', new_admin_article_path(:law => "gdpr-recital", :type => "recital") %></li>
          </ul>

        <li>Guidance Notes</li>
          <ul class="subCategoryCreate">
            <li><%= link_to 'Create Guidance Note', new_admin_article_path(:law => "guidance", :type => "guidance") %></li>
          </ul>


        <li><%= link_to 'Users', admin_users_path %></li>
      </ul>

    </nav>

    <main>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

    </main>

    <footer>

    </footer>
  </div>
</div>

  </body>
</html>
