<!--- this is the CMS application ----->

<!DOCTYPE html>
<html>
  <head>
    <title>Jersey ICO | Admin<%= " | " + yield(:title) if content_for?(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= Pretty Checkbox %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <%#= Font awesome %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body class="removeMargin">

    <div class="wrapper">

      <header class="topBar">

        <ul class="flex-container space-between removeMargin ">

          <li class="websiteName removeMargin"><img class="" src="/assets/frontend/JSY_transparent.png" alt="Jsy transparent"></li>

          <li class="websiteUser removeMargin">
            <% if user_signed_in? %>
              Hello, <%= current_user.email %> - <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
            <% else %>
              You are not signed in
            <% end %>
          </li>

        </ul>

  </header>

  <div class="stretch">

    <nav class="leftNav">

      <h1>Logo</h1>
      <div class="">
        <img class="" src="/assets/frontend/JSY_transparent.png" alt="Jsy transparent">
      </div>
      <div class="searchField">
        <% if user_signed_in? %>
          <!-- http://www.rymcmahon.com/articles/2 -->
          <%= form_tag(admin_articles_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        <% else %>
          <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search all articles" %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        <% end %>
     </div>

    <ul class='list'>
    <li><%= link_to 'Law Groups', admin_groups_path %></li>
    <li><%= link_to 'Categories', admin_categories_path %></li>

      <li>
        <ul class="list">
          <% Group.all.each do |group| %>



            <li class='js-group-title item--clickable flex flex--items-align flex--justify-between'>
              <%#= group.title %>
              <% case group.title %>
                <% when "Data Protection (Jersey) Law 2018" %>
                Data Protection
                <% when "Data Protection Authority (Jersey) Law 2018" %>
                Data Protection Authorities
                <% when "Data Protection (Registration and Charges) (Jersey) Regulations 2018" %>
                Data Protection Regulation
                <% when "General Data Protection Regulation" %>
                GDPR
                <% when "Guidance Notes" %>
                Guidance

              <% end %>

              <i class="fas fa-animate fa-fw fa-caret-down"></i>
            </li>

            <ul class='js-group-categories list--indented'>

              <li>
              <% if group.categories.present? %>
                <%= link_to new_admin_article_path(scope: group.id), class: 'flex flex--justify-between flex--items-align' do %>
                  New Article
                  <i class="fas fa-small fa-plus"></i>
                <% end %>
              <% end %>
              </li>

              <% group.categories.each do |category| %>
              <li class='flex flex--justify-between flex--items-align'>
                <%= link_to admin_articles_path(scope: category.id) do %>
                  <%= category.title %>
                <% end %>
              </li>
              <% end %>


              </li>
            </ul>
          <% end %>
        </ul>
      </li>

        </nav>

        <main>

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>

        </main>
      </div>
    </div>

  </body>
</html>
